<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm2.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm2.domain.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.crm2.domain.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into permission (name, resource)
    values (#{name,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm2.domain.Permission" >
    update permission
    set name = #{name,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, resource
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, resource
    from permission
  </select>
  
  <sql id="where_sql">
  	<where>
  		<if test="keyWord!=null">
  			name LIKE concat('%',#{keyWord},'%')
  		</if>
  		<if test="rid!=null">
  			id in (select p_id from role_permission where r_id = #{rid})
  		</if>
  	</where>
  </sql>
  <select id="queryForCount" resultType="long">
  	SELECT COUNT(id) FROM permission
  	<include refid="where_sql"/>
  </select>
  
  <select id="queryForList" resultMap="BaseResultMap">
  	select id, name, resource from permission
  	<include refid="where_sql"/>
  	<if test="page!=null">
  		limit #{start},#{rows}
  	</if>
  </select>
  
  <select id="queryByEid" resultType="string">
  	SELECT resource FROM permission p 
	LEFT JOIN role_permission mid ON (p.id = mid.p_id) 
	LEFT JOIN role r ON (mid.r_id = r.id)
	WHERE r.id IN (SELECT r_id FROM emp_role WHERE e_id = #{id})
  </select>
</mapper>